@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    height: 100vh;
    margin: 0;
}

* {
    box-sizing: border-box;
    background-color: #1f1e1a;
}

.container {
    padding-top: 10vh;
    max-width: 60vw;
    max-height: 100vh;
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 76% 24%;
    grid-template-rows: 60% 40%;
}

.memRibbon {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 1em;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.memRibbon__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
    transition: all 1s ease;
}

.memRibbon__slide {
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0; 
    border-radius: 1em; 
}

.slide_img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.memTextRibbon {
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    grid-column: 1;
    grid-row: 2;
    margin-top: 3vh;
}

.memTextRibbon__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: all 1s ease;
}

.memText_text {
    font-family: "Montserrat", sans-serif;
    color: #F9F6EE;
    font-weight: 400;
    font-size: 3vh;
    width: 100%;
    min-width: 100%;
    height: 100%;
    margin: 0;  
}

.radio_container {
    display: flex;
    justify-content: space-between;
    gap: 1vh;
    grid-column: 2;
    grid-row: 2;
    margin-top: 3vh;
    justify-self: end;
}

.radio__input {
    opacity: 0;
    left: -100vw;
}

.radio__state {
    min-width: 30%;
    min-height: 30%;
    cursor: pointer;
}

.radio__state:hover > .radio__icon {
    background-color: #F9F6EE;
    border: 2px solid #F9F6EE;
    cursor: pointer;
}

.radio__state:active > .radio__icon {
    background-color: #D3D3D3;
    border: 2px solid #D3D3D3;
    cursor: pointer;
}

.radio__icon {
    min-width: 3vh;
    min-height: 3vh;
    border-radius: 50%;
    background-color: #4169E1;
    border: 2px solid #4169E1;
}

#first:checked~.radio_container > .first > .radio__state > .radio__icon {
    background-color: transparent;
}

#first:checked~.memRibbon > .memRibbon__inner {
    transform: translateX(0%);
}

#first:checked~.memTextRibbon > .memTextRibbon__inner {
    transform: translateX(0%);
}

#second:checked~.radio_container > .second > .radio__state > .radio__icon {
    background-color: transparent;
}

#second:checked~.memRibbon > .memRibbon__inner {
    transform: translateX(-100%);
}

#second:checked~.memTextRibbon > .memTextRibbon__inner {
    transform: translateX(-100%);
}

#third:checked~.radio_container > .third > .radio__state > .radio__icon {
    background-color: transparent;
}

#third:checked~.memRibbon > .memRibbon__inner {
    transform: translateX(-200%);
}

#third:checked~.memTextRibbon > .memTextRibbon__inner {
    transform: translateX(-200%);
}

#fourth:checked~.radio_container > .fourth > .radio__state > .radio__icon {
    background-color: transparent;
}

#fourth:checked~.memRibbon > .memRibbon__inner {
    transform: translateX(-300%);
}

#fourth:checked~.memTextRibbon > .memTextRibbon__inner {
    transform: translateX(-300%);
}

@media screen and (max-width: 900px) and (min-width: 551px) {
    .container {
        grid-template-rows: 50% 50%;
    }

    .memText_text {
        font-size: 2vh; 
    }

    .radio__state {
        min-width: 20%;
        min-height: 20%;
    }

    .radio__icon {
        min-width: 1.7vh;
        min-height: 1.7vh;
    }
}

@media screen and (max-width: 550px) and (min-width: 320px) {
    .container {
        grid-template-columns: 100%;
        grid-template-rows: 60% 10% 30%;
    }

    .memRibbon {
        grid-column: 1;
        grid-row: 1;
    }

    .radio_container {
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        align-self: start;
    }

    .memTextRibbon {
        width: 100%;
        height: 100%;
        grid-column: 1;
        grid-row: 3;
        justify-self: start;
    }

    .memText_text {
        font-size: 2vh; 
    }

    .radio__state {
        min-width: 2.5vh;
        min-height: 2.5vh;
    }

    .radio__icon {
        min-width: 2vh;
        min-height: 2vh;
    }
}